form {
  margin: 0 auto;
  display: inline;
  border-radius: 5px;
  display: inline-flex;
}
#wrapper {
  max-width: 500px;
  margin: 0 auto;
}
.main-weather {
  border: 5px solid #48484a;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  
}
button {
  display: inline;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  background-color: rgb(100, 196, 221);
  color: white;
  padding: 5px 10px;
  box-shadow: rgba(173, 181, 186, 0.8) 3px 3px 3px;
}

ul {
  margin: 0;
  padding: 0;
}

.accents1 {
  list-style-type: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
  position: relative;
  top: -200px;
  left: 300px;
  line-height: 1.6;
}
.accents2 {
  list-style-type: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
  position: relative;
  top: -272px;
  left: 375px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
  line-height: 5px;
}

li::first-letter {
  text-transform: capitalize;
}
#todays-date-and-time {
  list-style-type: none;
  padding: 5px 0px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
}
#description {
  list-style-type: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
}

#temperature {
  list-style-type: none;
  font-size: 60px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
  position: relative;
  top: -25px;
}
a {
  text-decoration: none;
}

.fahrenheit-celsius {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
  display: inline;
  position: relative;
  top: -55px;
  left: 5px;
}
#icon {
  
}

small {
  text-align: center;
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
}
