form {
  margin: 0 auto;
  display: inline;
  border-radius: 5px;
  display: inline-flex;
}
.main-weather {
  border: 5px solid #48484a;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
button {
  display: inline;
  margin: 0 auto;
  border-radius: 20px;
  border: none;
  background-color: rgb(100, 196, 221);
  color: white;
  padding: 5px 10px;
  box-shadow: rgba(173, 181, 186, 0.8) 3px 3px 3px;
}

.accents1 {
  list-style-type: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
  position: relative;
  top: -250px;
  left: 400px;
  line-height: 1.6;
}
.accents2 {
  list-style-type: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
  position: relative;
  top: -335px;
  left: 500px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  padding: 5px 5px 5px 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
  line-height: 5px;
}

li::first-letter {
text-transform: capitalize;
}
#todays-date-and-time {
  list-style-type: none;
  padding: 5px 0px ;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
  
}
#description {
  list-style-type: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
}

#temperature {
  list-style-type: none;
  font-size: 60px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
}

.fahrenheit-celsius {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #48484a;
  display: inline;
  position: relative;
  top: -155px;
  left: 120px;
}
#icon {
}


